*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: black;
    color:white;
    font-size:xx-large;
    height:100px;
    line-height: 5rem;
}
.choice{
    height:165px;
    width:165px;
    display:flex;
    align-items: center;
    justify-content: center;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin:5rem;
    margin-left: 0%;
}
.choice:hover{
      cursor: pointer;
      background-color: black;
      border-radius: 50%;
}
.scorecard{
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap:1rem;
}
.score{
    height:50px;
    width:50px;
}
#userscore,#computerscore{
    font-size: 2rem;
}
.msg{
font-size: larger;
background-color: black;
color:white;
display:inline-block;
padding:10px;
border-radius: 5%;
}
